name: Generate Neon Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: Mufidaxelsen
          outputs: |
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#FF0000&color_dots=#110000,#330000,#660000,#AA0000,#FF0000

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
